<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{option_a}} vs {{option_b}}!</title>
    <base href="{{ base_path }}/">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>{{option_a}} vs {{option_b}}!</h3>
        <form id="choice" name='form' method="POST" action="{{ base_path }}/">
          <button id="a" type="submit" name="vote" class="a" value="a">{{option_a}}</button>
          <button id="b" type="submit" name="vote" class="b" value="b">{{option_b}}</button>
        </form>
        <div id="tip">
          (Tip: you can change your vote)
        </div>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>

    {% if vote %}
    <script>
      var vote = "{{vote}}";

      var aBtn = document.getElementById('a');
      var bBtn = document.getElementById('b');

      if(vote == "a"){
        aBtn.disabled = true;
        aBtn.innerHTML = '{{option_a}} <i class="fa fa-check-circle"></i>';
        bBtn.style.opacity = '0.5';
      }
      if(vote == "b"){
        bBtn.disabled = true;
        bBtn.innerHTML = '{{option_b}} <i class="fa fa-check-circle"></i>';
        aBtn.style.opacity = '0.5';
      }
    </script>
    {% endif %}
  </body>
</html>
